
@model List<Product>
@{
    ViewBag.Title = "ProudctTable";
}

<h2>ProudctTable</h2>

<div>
    <form method="post">
        <input type="text" id="searchTxt" name="search" />
        <button type="button" id="searchBtn">Search</button>

    </form>
    <button>New</button>
</div>

<div >
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions </td>

            </tr>

        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Price</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({

            type: "GET",
            url: '/Product/ProudctTable',
            data: { search: searchValue }
        })
            .done(function (response) {
                $("#tableContiner").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("error");

            });
    });
</script>